<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>959776568833-jabfgepi4k6svaq9m2gtug2hpa3jibf2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.959776568833-jabfgepi4k6svaq9m2gtug2hpa3jibf2</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>959776568833-kciqsg4suua0i5ltqtp86c8l6fio7tpo.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDRsdD4sbdbqcUmCMmfMzr-56dP56rJmVk</string>
	<key>GCM_SENDER_ID</key>
	<string>959776568833</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.profileDemoAppWithFlutter</string>
	<key>PROJECT_ID</key>
	<string>flutter-firebase-demo-4a945</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-firebase-demo-4a945.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:959776568833:ios:d1fa8622ea03750f0bb200</string>
</dict>
</plist>